# Charge only mode configuration
import /vendor/etc/init/hw/init.mmi.charge_only.rc

on post-fs
    # MOT_LED_CALIBRATION
    chown camera camera /mnt/vendor/persist/camera/mot_ledcal

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules exfat

on fs
    insmod /vendor/lib/modules/bm_adsp_ulog.ko
    insmod /vendor/lib/modules/mmi_charger.ko

on post-fs
    start vendor.copy_wvcert

service vendor.copy_wvcert /vendor/bin/copy_wvcert.sh
    class main
    user system
    group root system
    oneshot
    disabled

on init && property:ro.boot.default_usb_mode=device
    setprop vendor.usb.controller ${ro.boot.usbcontroller}
    setprop sys.usb.controller ${vendor.usb.controller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral

on early-boot
    #sync power supply with healthd
    wait /sys/class/power_supply/battery
    wait /sys/class/power_supply/usb
    write /sys/devices/platform/soc/soc:mmi,charger/state_sync 1
    wait /sys/class/udc/${ro.boot.usbcontroller} 20

on early-boot && property:ro.boot.bm_ulog_enabled=1
    write /sys/module/bm_adsp_ulog/parameters/debug_enabled 1

on charger && property:ro.boot.bm_ulog_enabled=1
    write /sys/module/bm_adsp_ulog/parameters/debug_enabled 1

on property:sys.boot_completed=1
    write /sys/devices/platform/soc/soc:mmi,charger/state_sync 1

